@charset "utf-8";
body {
    margin: 0;
    padding: 0;
    font-family: microsoft yahei, hiragino sans gb, simsun;
    font-size: 13px;
}

a:focus {
    outline: none;
}

button {
    outline: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

.w960 {
    max-width: 960px;
}

.w600 {
    width: 600px;
}

.w360 {
    width: 360px;
}

.l {
    float: left;
}

.r {
    float: right;
}

.pa10 {
    padding: 10px;
}

.clear {
    clear: both;
}

/* nav */
#ntop {
    width: 100%;
    height: 26px;
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

#nssl {
    width: 960px;
    height: 60px;
    margin: 0 auto 10px;
    padding: 10px 0;
}

#nnav {
    width: 960px;
    margin: 0 auto;
    border-top: 2px #f34540 solid;
    border-bottom: 1px #eee solid;
    /*border-left: 2px;*/
    /*border-right:2px;*/
    /*background: #007bcc;*/
}

#linkgrp {
    padding: 6px 10px;
    line-height: 26px;
    /*text-align: center;*/
    word-spacing: 3px;
    font-size: 13px;
    color: #FFF;
}

#linkgrp a:link, #linkgrp a:visited {
    display: inline-block;
    padding: 0 10px;
    color: #111;
    text-decoration: none;
    cursor: auto;
}

#linkgrp a:hover {
    color: #f34540;
}
/* fixed right bar*/
.frg{
    position: fixed;
    top:70%;
    right:24px;
    z-index:1000;
}
.frg .ic,.frg .ic:visited{
    display:block;
    margin-top:20px;
    padding:10px;
    width:43px;
    height:42px;
    text-decoration: none;
    text-align:center;
    background: #d0d0d0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    color:#fff;
    font-size:18px;
    overflow: hidden;
    cursor:pointer;
}
.frg .ic:hover,.frg .ic:active{
    line-height:14px;
    font-size:10px;
    background: #cecece;
}
.frg .top2{
    display:none;
}
.frg .qrcode{
    display:none;
    position:absolute;
    right:60px;
    top:-20px;
    padding:10px;
    border: 1px solid #eee;
}
.frg .qrcode img{
    width:120px;
    height:140px;
}

.main {
    width: 960px;
    margin: 10px auto 0;
    clear: both;
}

/** footer **/
.foot {
    margin: 20px auto 10px;
    padding-top: 10px;
    width: 960px;
    border-top: 2px solid #f34540;
}

.flink {
    color: #404040;
}

.flink a:link, .flink a:visited {
    display: inline-block;
    margin-right: 10px;
    line-height: 24px;
    font-size: 13px;
    color: #404040;
    text-decoration: none;
}

.flink a:hover {
    text-decoration: underline;
}

.flink span {
    margin-right: 10px;
    font-size: 13px;
    font-weight: bold;
}

.copyright {
    margin-top: 10px;
    width: 960px;
    line-height: 24px;
    font-size: 13px;
    color: #404040;
    text-align: center;
}

.copyright p {
    font-size: 13px;
}

.copyright a:link, .copyright a:visited{
    font-size: 13px;
    color: orange;
    text-decoration: none;
}

.copyright a:hover{
    text-decoration: underline;
}
.service{

}
.service a:link, .service a:visited{
    line-height: 24px;
    color:#404040;
}
.copyright span {
    padding: 0 3px;
    font-weight: bold;
}