
.left {
    float: left;
    display: block;
    margin-right: 15px;
    width: 685px;
}

.ltitle {
    margin-bottom:10px;
    width: 685px;
    height: 30px;
    border: 1px #eee solid;
}

.ltitle a:link, .ltitle a:visited {
    display: inline-block;
    margin-right: 10px;
    line-height: 30px;
    font-size: 14px;
    color: #404040;
    text-decoration: none;
    text-indent: 10px;
}
.ltitle a:hover {
    color: #f34540;
    text-decoration: underline;
    cursor: auto;
}

.llist {
    width: 685px;
}

.item {
    float: left;
    width: 332px;
    margin-right:21px;
    padding-bottom: 6px;
    border:1px solid #eee;
}
.item2{
    margin-right: 0;
}
.emtitle{
    margin-bottom: 2px;
    width:332px;
    height: 30px;
    line-height:30px;
    border-bottom: 1px solid #eee;
}
.emtitle a:link, .emtitle a:visited{
    display: inline-block;
    line-height: 30px;
    color: #404040;
    text-decoration: none;
    text-indent: 10px;
}
.emtitle a:hover{
    color: #f34540;
    cursor: auto;
}
.emtitle .title{
    float: left;
    font-size: 14px;
}
.emtitle .more {
    float: right;
    margin-right: 6px;
    font-size: 12px;
}
.item dd{
    margin-right: 5px;
    width: 332px;
    height: 24px;
    padding-left: 5px;
    padding-right: 5px;
    background: url("../img/li.gif") 1px -46.5px no-repeat;
    text-indent: 6px;
    list-style: none;
    overflow: hidden;

}
.item dd a:link, .item dd a:visited{
    display: inline-block;
    width: 312px;
    height: 24px;
    line-height: 24px;
    color: #404040;
    font-size: 13px;
    text-decoration: none;
    overflow: hidden;
}
.item dd a:hover{
    color: #f34540;
}
.right {
    float: left;
    display: block;
    width: 260px;
}
.rtitle2 {
    width: 260px;
    height: 30px;
    border-bottom: 1px #eee solid;
}
.rtitle2 a:link, .rtitle2 a:visited {
    display: inline-block;
    border-left: 2px #f34540 solid;
    line-height: 22px;
    font-size: 14px;
    color: #111;
    text-decoration: none;
    text-indent: 10px;
}
.rtitle2 a:hover{
    color:#f34540;
}
.rlist2 {
    margin-bottom:10px;
    width: 260px;
    padding: 7px 5px 7px 0;
}

.rlist2 li {
    width: 260px;
    height: 24px;
    background: url("../img/li.gif") -3px -136px no-repeat;
    text-indent: 10px;
    list-style: none;
    overflow: hidden;
}

.rlist2 li a:link, .rlist2 li a:visited {
    display: inline-block;
    width: 260px;
    height: 24px;
    line-height: 24px;
    color: #404040;
    font-size: 13px;
    text-decoration: none;
    overflow: hidden;
}

.rlist2 li a:hover {
    color: #f34540;
    text-decoration: underline;
    cursor: auto;
}
