
.left {
    float: left;
    display: block;
    margin-right: 15px;
    width: 360px;
}

.ltitle {
    width: 360px;
    height: 30px;
    border-bottom: 1px #eee solid;
}

.ltitle a:link, .ltitle a:visited {
    display: inline-block;
    border-left: 2px #f34540 solid;
    line-height: 22px;
    font-size: 14px;
    color: #111;
    text-decoration: none;
    text-indent: 10px;
}

.ltitle a:hover {
    color: #f34540;
    cursor: auto;
}

.llist {
    width: 360px;
    height: 254px;
    padding: 7px 0 7px 5px;
}

.llist2 {
    width: 360px;
    height: 206px;
    padding: 7px 0 7px 5px;
}

.llist li {
    float: left;
    margin-right: 5px;
    width: 172px;
    height: 24px;
    background: url("../img/li.gif") -3px -46.5px no-repeat;
    text-indent: 8px;
    list-style: none;
    overflow: hidden;
}

.llist li a:link, .llist li a:visited {
    display: inline-block;
    width: 172px;
    height: 24px;
    line-height: 24px;
    color: #404040;
    font-size: 13px;
    text-decoration: none;
    overflow: hidden;
}

.llist li a:hover {
    color: #f34540;
    text-decoration: underline;
    cursor: auto;
}

.darkbg {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #f3f3f3;
}

.midd {
    float: left;
    display: block;
    margin-right: 15px;
    width: 360px;
}

.mtop {
    width: 360px;
    height: 142px;
    padding-bottom: 3px;
}

.mtpt {
    width: 360px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
}

.mtpt a:link, .mtpt a:visited {
    line-height: 30px;
    font-size: 20px;
    color: orange;
    text-decoration: none;
}

.mtpt a:hover {
    color: #ff9d04;
}

.mtpp {
    padding: 5px;
    width: 360px;
    height: 110px;
    line-height: 20px;
    font-size: 13px;
    color: #555;
    text-indent: 2em;
    overflow: hidden;
}

.mmid {
    width: 360px;
    height: 135px;
    padding: 7px 0 7px 5px;
    border-top: 1px dashed #f34540;
}

.mmid li {
    float: left;
    margin-right: 5px;
    width: 172px;
    height: 24px;
    list-style: none;
    overflow: hidden;
}

.mmid li a:link, .mmid li a:visited {
    display: inline-block;
    width: 172px;
    height: 24px;
    line-height: 24px;
    color: #404040;
    font-size: 13px;
    text-decoration: none;
    overflow: hidden;
}

.mmid li a:hover {
    color: #f34540;
    text-decoration: underline;
    cursor: auto;
}

.mbom {
    width: 360px;
    height: 210px;
    margin-top: 8px;
}

.mbtitle {
    width: 360px;
    height: 30px;
    border-bottom: 1px #eee solid;
}

.mbtitle a:link, .mbtitle a:visited {
    display: inline-block;
    border-left: 2px #f34540 solid;
    line-height: 22px;
    font-size: 14px;
    color: #111;
    text-decoration: none;
    text-indent: 10px;
}

.mbtitle a:hover {
    color: #f34540;
}

.mblist {
    width: 360px;
    height: 180px;
    padding: 7px 0 7px 5px;
}

.mblist li {
    float: left;
    margin-right: 5px;
    width: 172px;
    height: 24px;
    list-style: none;
    overflow: hidden;
}

.mblist li a:link, .mblist li a:visited {
    display: inline-block;
    width: 172px;
    height: 24px;
    line-height: 24px;
    color: #404040;
    font-size: 13px;
    text-decoration: none;
    overflow: hidden;
}

.mblist li a:hover {
    color: #f34540;
    text-decoration: underline;
    cursor: auto;
}

.right {
    float: left;
    display: block;
    width: 210px;
}

.rtitle {
    width: 210px;
    height: 30px;
    border-bottom: 1px #eee solid;
}

.rtitle a:link, .rtitle a:visited {
    display: inline-block;
    margin-bottom: -1px;
    padding: 0 2px 3px;
    line-height: 27px;
    border-bottom: 1px solid #f34540;
    font-size: 14px;
    color: #111;
    text-decoration: none;
}
.rtitle a:hover{
    color: #f34540;
}
.rlist {
    width: 210px;
    height: 250px;
    padding: 7px 5px 7px 0;
}

.rlist li {
    width: 210px;
    height: 24px;
    background: url("../img/li.gif") -3px -136px no-repeat;
    text-indent: 10px;
    list-style: none;
    overflow: hidden;
}

.rlist li a:link, .rlist li a:visited {
    display: inline-block;
    width: 210px;
    height: 24px;
    line-height: 24px;
    color: #404040;
    font-size: 13px;
    text-decoration: none;
    overflow: hidden;
}

.rlist li a:hover {
    color: #f34540;
    text-decoration: underline;
    cursor: auto;
}

.rtitle2 {
    width: 210px;
    height: 30px;
    margin-top: 8px;
    border-top: 1px #f34540 solid;
    border-bottom: 1px #eee solid;
}

.rtitle2 a:link, .rtitle2 a:visited {
    display: inline-block;
    width: 210px;
    line-height: 30px;
    color: #111;
    text-decoration: none;
    overflow: hidden;
}
.rtitle2 a:hover{
    color: #f34540;
}
.rlist2 {
    width: 210px;
    height: 150px;
    padding: 7px 5px 7px 0;
}

.rlist2 li {
    width: 210px;
    height: 24px;
    background: url("../img/li.gif") -3px -136px no-repeat;
    text-indent: 10px;
    list-style: none;
    overflow: hidden;
}

.rlist2 li a:link, .rlist2 li a:visited {
    display: inline-block;
    width: 210px;
    height: 24px;
    line-height: 24px;
    color: #404040;
    font-size: 13px;
    text-decoration: none;
    overflow: hidden;
}

.rlist2 li a:hover {
    color: #f34540;
    text-decoration: underline;
    cursor: auto;
}

/** .mnav **/
.mnav {
    margin-top: 20px;
    padding: 0 10px;
    width: 960px;
    height: 36px;
    border-top: 2px solid #f34540;
    border-bottom: 1px solid #eee;
}

.mnvparent {
    float: left;
    width: 300px;
    height: 36px;
}

.mnvparent a:link, .mnvparent a:visited {
    display: inline-block;
    line-height: 33px;
    font-size: 16px;
    font-weight: bold;
    color: #f34540;
}

.mnvchild {
    float: right;
    height: 36px;
}

.mnvchild a:link, .mnvchild a:visited {
    display: inline-block;
    margin-right: 5px;
    line-height: 33px;
    font-size: 13px;
    color: #333;
}

.mnvchild a:hover {
    color: #f34540;
}