@charset "utf-8";
.left {
    float: left;
    display: block;
    margin-right: 15px;
    width: 685px;
}

.ltitle {
    margin-bottom:10px;
    width: 685px;
    height: 30px;
    border: 1px #eee solid;
    background:#fcfcfc;
}

.ltitle a:link, .ltitle a:visited {
    display: inline-block;
    margin-right: 10px;
    line-height: 30px;
    font-size: 13px;
    color: #404040;
    text-decoration: none;
    text-indent: 10px;
}
.ltitle a:hover {
    color: #f34540;
    text-decoration: underline;
    cursor: auto;
}

.llist {
    width: 685px;
    border:1px solid #eee;
    background:#fcfcfc;
}

.lshare{
    margin-bottom: 2px;
    padding: 0 10px;
    width:683px;
    height: 30px;
    line-height:30px;

}
.item {
    margin-bottom: 0;
    width: 683px;
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.item dd{
    margin-right: 5px;
    width: 683px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background: url("../img/li.gif") 1px -46.5px no-repeat;
    text-indent: 6px;
    list-style: none;
    overflow: hidden;

}
.item dd a:link, .item dd a:visited{
    display: inline-block;
    width: 683px;
    height: 30px;
    line-height: 30px;
    color: #404040;
    font-size: 13px;
    text-decoration: none;
    overflow: hidden;
}
.item dd a:hover{
    color: #f34540;
}

.pagination>li>a, .pagination>li>a:visited{
    color:#f34540;
    margin-right: 10px;
}
.pagination>li>a:hover{
    color: #ea433e;
    background: #f3dddb;
}
.right {
    float: left;
    display: block;
    width: 260px;
}
.rtitle2 {
    width: 260px;
    height: 30px;
    border-bottom: 1px #eee solid;
}
.rtitle2 a:link, .rtitle2 a:visited {
    display: inline-block;
    border-left: 2px #f34540 solid;
    line-height: 22px;
    font-size: 13px;
    color: #111;
    text-decoration: none;
    text-indent: 10px;
}
.rtitle2 a:hover{
    color:#f34540;
}
.rlist2 {
    margin-bottom:10px;
    width: 260px;
    padding: 7px 5px 7px 0;
}

.rlist2 li {
    width: 260px;
    height: 24px;
    background: url("../img/li.gif") -3px -136px no-repeat;
    text-indent: 10px;
    list-style: none;
    overflow: hidden;
}

.rlist2 li a:link, .rlist2 li a:visited {
    display: inline-block;
    width: 260px;
    height: 24px;
    line-height: 24px;
    color: #404040;
    font-size: 13px;
    text-decoration: none;
    overflow: hidden;
}

.rlist2 li a:hover {
    color: #f34540;
    text-decoration: underline;
    cursor: auto;
}
