<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cus.wob.mapper.AdminRefRoleDirMapper" >
  <resultMap id="BaseResultMap" type="com.cus.wob.model.AdminRefRoleDir" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
    <id column="dir_id" property="dirId" jdbcType="INTEGER" />
  </resultMap>
</mapper>