<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cus.cms.mapper.AdminDictMapper" >
  <resultMap id="BaseResultMap" type="com.cus.cms.model.AdminDict" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="code" property="code" jdbcType="VARCHAR" />
    <id column="dictkey" property="dictkey" jdbcType="VARCHAR" />
    <result column="dictval" property="dictval" jdbcType="VARCHAR" />
    <result column="showorder" property="showorder" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
</mapper>