<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cus.cms.mapper.DocFileMapper">
  <resultMap id="BaseResultMap" type="com.cus.cms.model.DocFile">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dir_id" jdbcType="INTEGER" property="dirId" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="dname" jdbcType="VARCHAR" property="dname" />
    <result column="dtype" jdbcType="VARCHAR" property="dtype" />
    <result column="dpath" jdbcType="VARCHAR" property="dpath" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="desc" jdbcType="LONGVARCHAR" property="desc" />
  </resultMap>
</mapper>